<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>樹葉</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='植物框架.css') }}"/>
    <!-- <link rel="stylesheet" type="text/css" href="/Users/hoyi/CGI/cgi-bin/static/樹葉.css"/> -->
</head>

<body>
    <div class="Background" id ='Background'>
        <div class="Top" id="Top1">
            <a href="#" class="Topimage" style="background-image: url('/static/視網膜圖片三條線1.png');"></a>
            <!-- <a href="#" class="Topimage" style="background-image: url('/Users/hoyi/Downloads/視網膜圖片三條線1.png') ;"></a> -->
            <form action="/Find" method="POST">
                <input type="textbox" name="search" class ='Toptext' />
                <button onclick="searchPlant()" class="Search">查詢</button>
            </form>
            
        </div>
        <div class="Topdirections">（可搜尋樹名、科、地點）</div>
        <div class="Backgroundbuttom">東海大學一校30種常見樹介紹</div>
        <div class="Backgrounddirections">
            台灣欒樹（無患子科）：<br>
            1.落葉大喬木，高可達 20 公尺，為台灣特有的植物，常吸引紅色的椿象。<br>
            2.葉為二回羽狀複葉，花小，秋季開黃色花，果實為蒴果，由像燈籠狀粉紅色<br>
            的三瓣片合成，形似紅色的小氣球。<br>
            地點：{{ place }}


            </div>
        <div class="image" style="background-image: url('/static/LINE_ALBUM_臺灣欒樹_231222_1.jpg');"></div>
        <div class="image1" style="background-image: url('/static/LINE_ALBUM_臺灣欒樹_231222_2.jpg');"></div>
    </div> 



    <script>
        topImage = document.querySelector('.Topimage');
        top1 = document.getElementById('Top1');
        Leftboxes = [];

        topImage.addEventListener('click', function () {
            if (Leftboxes.length > 0) {
                for (var i = 0; i < Leftboxes.length; i++) {
                    top1.removeChild(Leftboxes[i]);
                }
                Leftboxes = [];
            } 
            
            else {
                Leftbox = document.createElement('div');
                Leftbox.classList.add('Leftbox');

                Linkelement1 = document.createElement('input');
                Linkelement1.type = "button";
                Linkelement1.onclick = function() {
                location.href = '/tree';
                };
                Linkelement1.value = '回到主頁';
                Linkelement1.classList.add('Goback');
                Leftbox.appendChild(Linkelement1);

                Linkelement2 = document.createElement('input');
                Linkelement2.type = "button";
                Linkelement2.onclick = function() {
                location.href = '/login1';
                };
                Linkelement2.value = '登出';
                Linkelement2.classList.add('Loginout');
                Leftbox.appendChild(Linkelement2);

                top1.appendChild(Leftbox);
                Leftboxes.push(Leftbox); 
            }
        });

    </script>
</body>
</html>